@model NmhCNT1K22Lesson12.Models.NguyenMinhHiep_SACH

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NguyenMinhHiep_SACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NguyenMinhHiep_TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguyenMinhHiep_TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguyenMinhHiep_SoTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguyenMinhHiep_SoTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguyenMinhHiep_NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguyenMinhHiep_NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguyenMinhHiep_TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguyenMinhHiep_TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguyenMinhHiep_TACGIA.NguyenMinhHiep_TenTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguyenMinhHiep_TACGIA.NguyenMinhHiep_TenTacGia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("NmhBack to List", "NmhIndex")
        </div>
    }
</div>
