@model IEnumerable<NmhCNT1K22Lesson12.Models.NguyenMinhHiep_SACH>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("NmhCreate New", "NmhCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NguyenMinhHiep_TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguyenMinhHiep_SoTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguyenMinhHiep_NamXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguyenMinhHiep_TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguyenMinhHiep_TACGIA.NguyenMinhHiep_TenTacGia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NguyenMinhHiep_TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguyenMinhHiep_SoTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguyenMinhHiep_NamXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguyenMinhHiep_TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguyenMinhHiep_TACGIA.NguyenMinhHiep_TenTacGia)
        </td>
        <td>
            @Html.ActionLink("Nmh:Edit", "NmhEdit", new { id=item.NguyenMinhHiep_MaSach.ToString()  }) |
            @Html.ActionLink("Nmh:Details", "NmhDetails", new { id=item.NguyenMinhHiep_MaSach.ToString() }) |
            @Html.ActionLink("Nmh:Delete", "NmhDelete", new { id=item.NguyenMinhHiep_MaSach.ToString() })
        </td>
    </tr>
}

</table>
