@model NmhLesson09.Models.NmhKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NmhKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NmhTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmhTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NmhTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmhTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NmhMaKH }) |
    @Html.ActionLink("Back to List", "NmhIndex")
</p>
